{% extends "AndroidDevAdminBundle::layout.html.twig" %}

{% block title %}Accueil - Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block contentDetail %}
    <div class="span12"><h1>Edition d'utilisateur</h1>

<form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Modifier</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>


            </div>

{% endblock %}