{% extends "AndroidDevSiteBundle::masterSiteLayout.html.twig" %}

{% block title %}Android-dev{% endblock %}

{% block description %}{% endblock %}

{% block menuGauche %}                    
<div style="max-width: 200px; padding: 8px 0;" class="span2 visible-desktop">
    <ul class="nav nav-list">
        <li class="nav-header"><a href="{{ path('androiddev_article')}}">Article</a></li>
        {% for article in filtrecat['article'] %}
            <li><a href="#">{{article.getNom()}}</a></li>
        {% endfor %}

                <li class="divider"></li>

                <li class="nav-header"><a href="{{ path('androiddev_astuce')}}">Astuce</a></li>
        {% for astuce in filtrecat['astuce'] %}
                    <li><a href="#">{{astuce.getNom()}}</a></li>
        {% endfor %}

                        <li class="divider"></li>

                        <li class="nav-header"><a href="{{ path('androiddev_projet')}}">Projet</a></li>
        {% for projet in filtrecat['projet'] %}
                            <li><a href="#">{{projet.getTitre()}}</a></li>
        {% endfor %}
                            </ul>
                        </div>
{% endblock %}

{% block enteteContentPC %}

{% endblock %}

{% block contentPC %}

{% endblock %}

{% block enteteContentMobileTablet %}

{% endblock %}

{% block contentMobileTablet %}

{% endblock %}
