{% extends "::layout.html.twig" %}

{% block title %}Android-dev{% endblock %}
{% block description %}{% endblock %}
{% block urlCanonical %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/shCore.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/shThemeDefault.css') }}" type="text/css" />
{% endblock %}

{% block navbar %}
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="{{ path('androiddev_accueil') }}">{{ infosite['titre'] }}</a>
<div class="nav-collapse collapse">
    <ul class="nav" role="navigation">
        <li><a href="{{ path('androiddev_accueil') }}">Accueil</a></li>
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle">Article <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="nav-header"><a href="{{ path('androiddev_article')}}">Tous les articles</a></li>

                    {% for categorie in filtrecat['article'] %}
                <li><a href="{{ path('androiddev_articleCat', {'slug': categorie.slug}) }}">{{categorie.getNom()}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">Astuce <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="nav-header"><a href="{{ path('androiddev_astuce')}}">Toutes les astuces</a></li>

                    {% for categorie in filtrecat['astuce'] %}
                    <li><a href="{{ path('androiddev_astuceCat', {'slug': categorie.slug}) }}">{{categorie.getNom()}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">Projet <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav-header"><a href="{{ path('androiddev_projet')}}">Tous les projets</a></li>
        {% for projet in filtrecat['projet'] %}
                            <li><a href="{{ path('androiddev_projetVoir', {'slug': projet.slug}) }}">{{projet.getTitre()}}</a></li>
        {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <form action="{{ path('androiddev_search') }}" method="post" class="navbar-search pull-right">
                        <input type="text" name="motCles" class="search-query" placeholder="Rechercher sur android-dev.fr">
                    </form>
                </div><!--/.nav-collapse -->
{% endblock %}

{% block infoMobileTablet %}
                <div class="alert alert-block hidden-desktop">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Important !</h4>
                    Si vous ne pouvez pas choisir un type d'article, projet ou astuce dans la barre ci-dessus (se referme automatiquement), <strong>maintener 1 seconde la pression</strong> sur article ou tuto !!
                </div>
{% endblock %}

{% block menuGauche %}
{% endblock %}

{% block enteteContentPC %}

{% endblock %}

{% block contentPC %}

{% endblock %}

{% block enteteContentMobileTablet %}

{% endblock %}

{% block contentMobileTablet %}

{% endblock %}

{% block colonneDroite %}
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Android-dev.fr sur</li>

                    </ul>
                </div><!--/.well --> 
                <div class="well sidebar-nav listeDroite">
                    <ul class="nav nav-list">
                        <li class="nav-header">Top des 7 derniers jours</li>
        {% for article in topPiwik %}
                            <li><a href="{{ path('androiddev_voir', {'slug': article.slug}) }}">{{ article.label }}</a></li>
        {% endfor %}
                            </ul>
                        </div><!--/.well --> 
                        <div class="well sidebar-nav listeDroite">
                            <ul class="nav nav-list">
                                <li class="nav-header">Mise à jour</li>
         {% for article in lastUpdate %}
                                    <li><a href="{{ path('androiddev_voir', {'slug': article.slug}) }}">{{ article.titre | raw }}</a></li>
        {% endfor %}
                                    </ul>
                                </div><!--/.well -->
{% endblock %}

{% block script %}
{% endblock %}


{% block footer %}
    {{ infosite['footer'] | raw  }}
{% endblock %}