<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Android-dev">
        <link rel="canonical" href="{% block urlCanonical %}{% endblock %}" />
        <link rel="alternate" type="application/rss+xml" href="/feeds/derniersArticles.rss" title="Derniers articles">
        <link rel="alternate" type="application/rss+xml" href="/feeds/derniersAstuces.rss" title="Dernieres astuces">
        <link rel="alternate" type="application/rss+xml" href="/feeds/derniersArticlesAstuces.rss" title="Derniers articles et astuces">
        <link rel="alternate" type="application/rss+xml" href="/feeds/derniersProjets.rss" title="Derniers projets">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/fav.ico') }}" />

        <script type="text/javascript">
            (function() {
                var po = document.createElement("script");
                po.type = "text/javascript";
                po.async = true;
                po.src = "https://apis.google.com/js/plusone.js?publisherid=109789572578192575458";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>

        <!-- Le styles -->
        {% block stylesheets %}

            {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

        <!-- Fav and touch icons -->
        <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    </head>

    <body>

                        {% block navbar %}

                        {% endblock %}


            {% block infoMobileTablet %}
            {% endblock %}


        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                    {% block menuGauche %}
                    {% endblock %}
            </div>

            <div class="col-md-7 content col-sm-9" itemscope itemtype="http://schema.org/Article">
                <script type="text/javascript">
                    google_ad_client = "ca-pub-4672745701309961";
                    width = document.documentElement.clientWidth;
                    if (width < 500) {
                        google_ad_slot = "7279578179";
                        google_ad_width = 320;
                        google_ad_height = 50;
                    }
                    else if (width > 500 && width < 1300) {
                        google_ad_slot = "3027381363";
                        google_ad_width = 468;
                        google_ad_height = 60;
                    }
                    else if (width > 1300) {
                        google_ad_slot = "5802844971";
                        google_ad_width = 728;
                        google_ad_height = 90;
                    }

                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>

                {% block enteteContentPC %}
                {% endblock %}

                {% block contentPC %}
                 {% endblock %}
                <script type="text/javascript">
                    google_ad_client = "ca-pub-4672745701309961";
                    width = document.documentElement.clientWidth;
                    if (width < 500) {
                        google_ad_slot = "1978297378";
                        google_ad_width = 320;
                        google_ad_height = 50;
                    }
                    else if (width > 500 && width < 1300) {
                        google_ad_slot = "1050010217";
                        google_ad_width = 468;
                        google_ad_height = 15;
                    }
                    else if (width > 1300) {
                        google_ad_slot = "9501564175";
                        google_ad_width = 728;
                        google_ad_height = 15;
                    }

                </script>
            </div><!--/span-->

            <div class="col-md-3 col-sm-3">
            {% block colonneDroite %}

            {% endblock %}
            </div><!--/span-->
        </div><!--/row-->

        <div class="row">
            <div class="panel-footer">
            {% block footer %}
            {% endblock %}
                <div class="container">
                    <!-- AddThis Follow BEGIN -->
                    <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                        <a class="addthis_button_facebook_follow" addthis:userid="androiddev.fr"></a>
                        <a class="addthis_button_twitter_follow" addthis:userid="androiddevfr"></a>
                        <a class="addthis_button_google_follow" addthis:userid="+Android-devFr"></a>
                        <a class="addthis_button_rss_follow" addthis:userid="http://www.android-dev.local/feeds/derniersArticlesAstuces.rss"></a>
                    </div>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e84c63d79df556f"></script>
                    <!-- AddThis Follow END -->

                    <p class="muted">Autres pages : <a href="{{ path('androiddev_contact') }}">Contact</a> - <a href="{{ path('androiddev_apropos') }}">A Propos</a> - <a href="{{ path('androiddev_mentions') }}">Mentions légales</a>  </p>
                    <p class="muted credit">&copy; Android-dev.fr / Propulsé par Symfony2 et Bootstrap | COPYRIGHT 2010 - 2014, tout droits réservés.</p>
                </div>
            </div>
        </div>


        <!-- Le javascript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/javascript.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.fancybox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.fancybox.pack.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/shCore.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/shBrushXml.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/shBrushJava.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/shBrushBash.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
{% block script %}
{% endblock %}
        <script type="text/javascript">
            SyntaxHighlighter.config.tagName = "textarea";
            SyntaxHighlighter.all();
        </script>
    </body>
</html>