{% extends "AndroidDevAdminBundle::layout.html.twig" %}

{% block title %}Accueil - Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block contentDetail %}
<div class="span12">
    <h1>Listes d'articles</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_article_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.titre | raw }}</td>
                    <td>{{ entity.slug }}</td>
                    <td>{{ entity.Type.nom }}</td>
                    <td>{% if entity.Categorie%}{{ entity.Categorie.nom }}{% endif %}</td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_article_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_article_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_article_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
