{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}Contact | Android-dev.fr{% endblock %}
{% block description %}Contacter android-dev.fr{% endblock %}

{% block enteteContentPC %}
<ul class="breadcrumb">
    <li><a href="{{ path('androiddev_accueil') }}">Accueil</a></li>
    <li class="active">Contact</li>
</ul>
<div class="jumbotron">
    <h1>Contacter <span class="logo">android-dev.fr</span></h1>
</div>
{% endblock %}

{% block contentPC %}
{% if error == true %}
<h2>Désolé, un problème est survenu lors de l'envoie du mail. Contactez moi via twitter si le problème se reproduit.</h2>
{% endif %}

<form action="{{ path('androiddev_send_contact') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.objet) }}
    {{ form_row(form.contenu) }}

    {{ form_rest(form) }}
    <br />
    <input style="margin-left: 200px;display: block" type="submit" />
</form>
{% endblock %}