<html>
    <head>
        <title>Contact de {{ data.mail }}</title>
    </head>
    <body>
        <h1>{{ data.objet }}</h1>
        <p>Nom :  {{ data.nom }}</p>
        <p>Prenom : {{ data.prenom }}</p>
        <p>Mail : {{ data.mail }}</p>
        <p>Contenu :  </p>{{ data.contenu }}
    </body>

</html>