{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}Historique de la fragmentation des versions d'Android | Android-dev.fr{% endblock %}
{% block description %}Historique de la fragmentation des versions d'Android depuis 2010{% endblock %}

{% block meta %}
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/graph.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/detail.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/legend.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/extensions.css') }}">

    <script src="{{ asset('js/d3.v3.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>

    <script src="{{ asset('js/Rickshaw.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Class.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Compat.ClassList.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Renderer.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Renderer.Area.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Renderer.Line.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Renderer.Bar.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Renderer.ScatterPlot.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Renderer.Stack.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.RangeSlider.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.RangeSlider.Preview.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.HoverDetail.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Annotate.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Legend.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Axis.Time.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Behavior.Series.Toggle.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Behavior.Series.Order.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Behavior.Series.Highlight.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Smoother.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Fixtures.Time.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Fixtures.Time.Local.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Fixtures.Number.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Fixtures.RandomData.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Fixtures.Color.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Color.Palette.js') }}"></script>
    <script src="{{ asset('js/Rickshaw.Graph.Axis.Y.js') }}"></script>

    <script src="{{ asset('js/extensions.js') }}"></script>
{% endblock %}

{% block enteteContentPC %}
    <ul class="breadcrumb">
        <li><a title="android-dev.fr" href="{{ path('androiddev_accueil') }}">Accueil</a></li>
        <li class="active">Fragmentation</li>
    </ul>
    <div class="jumbotron">
        <h1>Historique de la fragmentation des versions d'Android par <span class="logo">android-dev.fr</span></h1>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_linkedin"></a>
            <a class="addthis_button_viadeo"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
        <!-- AddThis Button END -->
    </div>
{% endblock %}

{% block contentPC %}
    <style>
        #chart_container {
            //position: relative;
            //display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
        }
        #chart {
            display: inline-block;
            margin-left: 30px;
        }
        #y_axis {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 30px;
        }

        #legend {
            //display: inline-block;
            vertical-align: top;
            margin: 0 0 0 10px;
        }

        #legend li {
            display: inline-block;
            //float: left;
            vertical-align: top;
            margin: 0 0 0 10px;
        }

        #preview {
            margin-left: 30px;
        }

    </style>
    <div class="contenuArticle" itemprop="articleBody">
        <p>Cette page intègre les statistiques fournit par Google sur la présence des versions Android depuis décembre 2009. On remarque très clairement la popularité qu'a eu la version Gingerbread sorti durant l'été 2011.
            Jelly Bean devrait être la version la plus populaire pendant de nombreux mois, surtout qu'elle regroupe les version 4.1, 4.2 et 4.3.
        </p>
        <br />

        <div id="legend"></div>
        <div id="chart_container">
            <div id="y_axis"></div>
            <div id="chart"></div>

            <div id="timeline"></div>
            <div id="preview"></div>
        </div>


        <script>

            var palette = new Rickshaw.Color.Palette();
            {% for courbe,value in Points %}
                var   {{ courbe }} = [{% for timestamp,pct in Points[courbe]['data'] %}{x:{{ timestamp }}, y: {{ pct }}}{% if not loop.last %},{% endif %} {% endfor %}];
            {% endfor %}

                //var data = [{x: -1893456000, y: 10}, {x: -1577923200, y: 15}, {x: -1262304000, y: 20}, {x: -946771200, y: 18}, {x: -631152000, y: 26}, {x: -315619200, y: 42}, {x: 0, y: 40}, {x: 315532800, y: 22}, {x: 631152000, y: 30}, {x: 946684800, y: 35}, {x: 1262304000, y: 40}, {x: 1462304000, y: 22}, {x: 1662304000, y: 30}, {x: 1862304000, y: 35}, {x: 2062304000, y: 40}];
                //var data2 = [{x: -1893456000, y: 90}, {x: -1577923200, y: 85}, {x: -1262304000, y: 80}, {x: -946771200, y: 82}, {x: -631152000, y: 74}, {x: -315619200, y: 58}, {x: 0, y: 60}, {x: 315532800, y: 78}, {x: 631152000, y: 70}, {x: 946684800, y: 65}, {x: 1262304000, y: 60}, {x: 1462304000, y: 78}, {x: 1662304000, y: 70}, {x: 1862304000, y: 65}, {x: 2062304000, y: 60}];

                var width = 850;
                if (window.matchMedia("(max-width: 485px)").matches) {
                width = 330;
                } else if (window.matchMedia("(max-width: 590px)").matches) {
                width = 430;
                } else if (window.matchMedia("(max-width: 900px)").matches) {
                width = 530;
                } else if (window.matchMedia("(max-width: 990px)").matches) {
                width = 630;
                } else if (window.matchMedia("(max-width: 1200px)").matches) {
                width = 530;
                } else if (window.matchMedia("(max-width: 1500px)").matches)  {
                width = 650;
                }


                var graph = new Rickshaw.Graph({
                element: document.querySelector("#chart"),
                        width: width,
                        height: 340,
                        renderer: 'area',
                        stroke: true,
                        preserve: true,
                        series: [

            {% for courbe,value in Points %}
                        {
                        name : "{{ Points[courbe]['titre'] }} ({{ Points[courbe]['code'] }})",
                                data:{{ courbe }},
                                color: palette.color()
                        }{% if not loop.last %},{% endif %}
            {% endfor %}
                        ]
                });
                var x_axis = new Rickshaw.Graph.Axis.Time({graph: graph});
                var y_axis = new Rickshaw.Graph.Axis.Y({
                graph: graph,
                        orientation: 'left',
                        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
                        element: document.getElementById('y_axis'),
                });
                graph.render();
                var legend = new Rickshaw.Graph.Legend({
                element: document.querySelector('#legend'),
                        graph: graph
                });
                var smoother = new Rickshaw.Graph.Smoother({
                graph: graph,
                        element: $('#smoother')
                });
                var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
                graph: graph,
                        legend: legend
                });
                var hoverDetail = new Rickshaw.Graph.HoverDetail({
                graph: graph
                });
                var preview = new Rickshaw.Graph.RangeSlider.Preview({
                graph: graph,
                        element: document.getElementById('preview'),
                });
                var previewXAxis = new Rickshaw.Graph.Axis.Time({
                graph: preview.previews[0],
                        timeFixture: new Rickshaw.Fixtures.Time.Local(),
                        ticksTreatment: ticksTreatment
                });
                previewXAxis.render();</script>


        <h4>Dernier articles sur la fragmentation Android</h4>
        <dl class="related">
            {% for article in articleKey(64, 7) %}
                <dt><a onclick="javascript:_paq.push(['trackEvent', 'Clic', 'FragArticle']);"  title="{{ article.titre | raw }}" href="{{ path('androiddev_voir', {'slug': article.slug}) }}">{{ article.titre | raw }}</a></dt>
                <dd>{{ article.sousTitre | raw }}</dd>
            {% endfor %}
        </dl>
    </div>
    <hr />
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_google_plusone_share"></a>
        <a class="addthis_button_linkedin"></a>
        <a class="addthis_button_viadeo"></a>
        <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
    <!-- AddThis Button END -->
    <hr />

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'androiddev'; // required: replace example with your forum shortname

        var disqus_identifier = "1";
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}