{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}Accueil - Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block enteteContentPC %}
<div class="hero-unit">
{% if type is defined %}
{% if type == 'recherche' %}
        <h1>Recherche sur android-dev.fr</h1>
        <p>Mots clés : {{ motCle }}</p>
{% else %}
        <h1>Les {{ type }}s du site android-dev.fr</h1>
{% endif %}

    {% if categorie is defined %}
        <p>De la catégorie : {{ categorie }}</p>
    {% endif %}
{% else %}
    {{ infosite['entete'] | raw  }}
{% endif %}
    </div>
{% endblock %}

{% block contentPC %}

{% for article in articles %}
    <div class="row-fluid listeArticle">
        <h2><a href="{{ path('androiddev_voir', {'slug': article.slug}) }}">{{ article.titre | raw }}</a></h2>
        {{ article.sousTitre | raw }}
            <p><a class="btn"  href="{{ path('androiddev_voir', {'slug': article.slug}) }}">Lire la suite &raquo;</a></p>
        </div>
{% endfor %}
        <ul class="pager">
            <li class="previous">
                <a href="{{path(route, routeAft) }}">&larr; Plus ancien</a>
            </li>
            <li class="next {% if  page == 1 %}
                disabled
              {% endif %} ">
                    <a href="{{path(route, routeBef) }}">Plus récent &rarr;</a>
                </li>
            </ul>
{% endblock %}

{% block enteteContentMobileTablet %}
            <div class="hero-unit">
{% if type is defined %}
                    <h1>Les {{ type }}s du site android-dev.fr</h1>

    {% if categorie is defined %}
                    <p>De la catégorie : {{ categorie }}</p>
    {% endif %}
{% else %}
    {{ infosite['entete'] | raw  }}
{% endif %}
                </div>
{% endblock %}

{% block contentMobileTablet %}

{% for article in articles %}
                <div class="row-fluid listeArticle">
                    <h2><a href="{{ path('androiddev_voir', {'slug': article.slug}) }}">{{ article.titre | raw }}</a></h2>
            {{ article.sousTitre | raw }}
                        <p><a class="btn"  href="{{ path('androiddev_voir', {'slug': article.slug}) }}">Lire la suite &raquo;</a></p>

                    </div>
{% endfor %}   
                    <ul class="pager">
                        <li class="previous ">
                            <a href="{{path(route, routeAft) }}">&larr; Plus ancien</a>
                        </li>
                        <li class="next {% if  page == 1 %}
                            disabled
              {% endif %} ">
                                <a href="{{path(route, routeBef) }}">Plus récent &rarr;</a>
                            </li>
                        </ul>
{% endblock %}