{% extends "AndroidDevSiteBundle::layout.html.twig" %}

{% block title %}Accueil - Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block enteteContentPC %}
    {{ infosite['entete'] | raw  }}
{% endblock %}

{% block contentPC %}

{% for article in articles %}
    {% if loop.index is divisibleby(2)  %}
<div class="span6 listeArticle">
    <h2><a href="{{ path('androiddev_voir', {'id': article.id}) }}">{{ article.titre | raw }}</a></h2>
    {{ article.sousTitre | raw }}
    <p><a class="btn"  href="{{ path('androiddev_voir', {'id': article.id}) }}">Lire la suite &raquo;</a></p>
</div>
</div>
    {% else %}
<div class="row-fluid">
    <div class="span6 listeArticle">
        <h2><a href="{{ path('androiddev_voir', {'id': article.id}) }}">{{ article.titre | raw }}</a></h2>
        {{ article.sousTitre | raw }}
        <p><a class="btn"  href="{{ path('androiddev_voir', {'id': article.id}) }}">Lire la suite &raquo;</a></p>
    </div>
    {% endif %}
{% endfor %}
    <ul class="pager">
        <li class="previous">
            <a href="{{ page + 1 }}">&larr; Plus ancien</a>
        </li>
        <li class="next {% if  page == 1 %}
            disabled
              {% endif %} ">
                <a href="{{ page - 1 }} ">Plus récent &rarr;</a>
            </li>
        </ul>
{% endblock %}

{% block enteteContentMobileTablet %}
    {{ infosite['entete'] | raw  }}
{% endblock %}

{% block contentMobileTablet %}

{% for article in articles %}
    {% if loop.index is divisibleby(2)  %}
        <div class="span6 listeArticle">
            <h2><a href="{{ path('androiddev_voir', {'id': article.id}) }}">{{ article.titre | raw }}</a></h2>
            {{ article.sousTitre | raw }}
            <p><a class="btn"  href="{{ path('androiddev_voir', {'id': article.id}) }}">Lire la suite &raquo;</a></p>
        </div>
    </div>
    {% else %}
    <div class="row-fluid">
        <div class="span6 listeArticle">
            <h2><a href="{{ path('androiddev_voir', {'id': article.id}) }}">{{ article.titre | raw }}</a></h2>
            {{ article.sousTitre | raw }}
            <p><a class="btn"  href="{{ path('androiddev_voir', {'id': article.id}) }}">Lire la suite &raquo;</a></p>
        </div>
    {% endif %}
{% endfor %}   
        <ul class="pager">
            <li class="previous ">
                <a href="{{ page + 1 }}">&larr; Plus ancien</a>
            </li>
            <li class="next {% if  page == 1 %}
                disabled
              {% endif %} ">
                    <a href="{{ page - 1 }}">Plus récent &rarr;</a>
                </li>
            </ul>
{% endblock %}