{% extends "AndroidDevSiteBundle::layoutArticle.html.twig" %}

{% block title %}{{ projet.titre | raw }} | Android-dev.fr{% endblock %}
{% block description %}{{ projet.sousTitre | striptags }}{% endblock %}


{% block enteteContentPC %}
    <div class="jumbotron">
        <h1>{{ projet.titre | raw }}</h1>
        {{ projet.sousTitre | raw }}
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_linkedin"></a>
            <a class="addthis_button_viadeo"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
        <!-- AddThis Button END -->
    </div>
{% endblock %}

{% block contentPC %}
    <div class="contenuArticle">
        {{ projet.contenu | raw }}

        <div id="container">
            {% for rang, part in parts %}

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 cadreListeArticle">
                    <div class="listePart">
                        <span class="title-article-center"><h2 class="title-list-article"><a title="{{ part.titre }}" href="{{ path('androiddev_voir', {'slug': part.slug}) }}">{{ rang }}. {{ part.titre }}</a></h2></span>
                        <div>{{ part.sousTitre | raw }}</div>
                        <p class="text-left">{% for motCle in part.getMotCles() %}
                            <a title="{{ motCle.getNom() }}" href="{{ path('androiddev_motCles', {'slug': motCle.getSlug()}) }}"><span class="mot-slider ">{{ motCle.getNom() }}</span></a>
                            {% endfor %}
                    </p>
                </div>
            </div>

            {% endfor %}
            </div>
            {{ projet.contenuFin | raw }}
        </div>
        <br />
        <p class="text-left muted">
            {% if projet.getUpdated() <=  projet.getCreated() %}
                Publié le {{ projet.getCreated()|date("d/m/Y") }}
            {% else %}
                Modifié le {{ projet.getUpdated()|date("d/m/Y") }}
            {% endif %} 
        </p>
        <hr />
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_linkedin"></a>
            <a class="addthis_button_viadeo"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <!-- AddThis Button END -->
        <hr />
        <h4>Ceci pourrait vous intéresser</h4>
        <dl class="related">
            {% for projet in lastProjet %}
                <dt><a title="{{ projet.titre | raw }}" href="{{ path('androiddev_projetVoir', {'slug': projet.slug}) }}">{{ projet.titre | raw }}</a></dt>
                <dd>{{ projet.sousTitre | raw }}</dd>
            {% endfor %}
        </dl>
        <hr />

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'androiddev'; // required: replace example with your forum shortname
            var disqus_identifier = "p{{ projet.id }}";

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endblock %}