{% extends "AndroidDevSiteBundle::layoutArticle.html.twig" %}

{% block title %}{{ article.titre | raw }} | Android-dev.fr{% endblock %}
{% block description %}{{ article.titre | raw }}. {{ article.sousTitre | striptags  }}{% endblock %}
{% block urlCanonical %}http://www.android-dev.fr/{{ article.slug  }}{% endblock %}

{% block enteteContentPC %}
    <div class="hero-unit">
        <h1>{{ article.titre | raw }}</h1>
    {{ article.sousTitre | raw }}
    </div>
{% endblock %}

{% block contentPC %}
    <div class="contenuArticle">
    {{ article.contenu | raw }}
        </div>
{% endblock %}

{% block enteteContentMobileTablet %}
        <div class="hero-unit">
            <h1>{{ article.titre | raw }}</h1>
    {{ article.sousTitre | raw }}
        </div>
{% endblock %}

{% block contentMobileTablet %}
        <div class="contenuArticle">
    {{ article.contenu | raw }}
            </div>
{% endblock %}

{% block script %}           
<script type="text/javascript">
    SyntaxHighlighter.config.tagName='textarea';
    SyntaxHighlighter.all();
</script>
{% endblock %}