{% extends "AndroidDevSiteBundle::layoutArticle.html.twig" %}

{% block title %}{{ article.titre | raw }} | Android-dev.fr{% endblock %}
{% block description %}{{ article.titre | raw }}. {{ article.sousTitre | striptags  }}{% endblock %}
{% block urlCanonical %}http://www.android-dev.fr/{{ article.slug  }}{% endblock %}

{% block enteteContentPC %}
    <ul class="breadcrumb">
        <li><a title="android-dev.fr" href="{{ path('androiddev_accueil') }}">Accueil</a></li>
        <li><a title="{{ article.getType().getNom() }}" href="{{ path('androiddev_'~article.getType().getNom()|lower) }}"><span itemprop="articleSection">{{ article.getType().getNom() }}</span></a></li>
            {% if article.getType().getNom()|lower ==  'projet' %}
                <li class="active"><a title="{{ article.getProjet().getProjet().getTitre() }}" href="{{ path('androiddev_'~article.getType().getNom()|lower ~'Voir', {'slug': article.getProjet().getProjet().getSlug() }) }}"><span itemprop="articleSection">{{ article.getProjet().getProjet().getTitre() }}</span></a> </li>
            {% else %}
                <li class="active"><a title="{{ article.getCategorie().getNom() }}" href="{{ path('androiddev_'~article.getType().getNom()|lower ~'Cat', {'slug': article.getCategorie().getSlug() }) }}"><span itemprop="articleSection">{{ article.getCategorie().getNom() }}</span></a></li>
            {% endif %}  
    </ul>
    <div class="jumbotron">
        <h1 itemprop="name">{{ article.titre | raw }}</h1>
        {{ article.sousTitre | raw }}
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_linkedin"></a>
            <a class="addthis_button_viadeo"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
        <!-- AddThis Button END -->
    </div>
{% endblock %}

{% block contentPC %}
    <div class="contenuArticle" itemprop="articleBody">

        {{ article.contenu | raw }}
        <br />
        <p class="text-left muted">
            {% if article.getUpdated() <= article.getPublishedAt() %}
                Publié le <span itemprop="datePublished" content="{{ article.getPublishedAt()|date("Y-m-d") }}">{{ article.getPublishedAt()|date("d/m/Y") }}</span>
            {% else %}
                Modifié le <span itemprop="datePublished" content="{{ article.getUpdated()|date("Y-m-d") }}">{{ article.getUpdated()|date("d/m/Y") }}</span>
            {% endif %}  
            par <a title="google+" href="https://plus.google.com/114989485803038371397?rel=author"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ article.getAuteur().getUsername() }}</span></span></a>
        </p>
        <p class="text-left"><a title="{{ article.getType().getNom() }}" href="{{ path('androiddev_'~article.getType().getNom()|lower) }}"><span class="cat-slider ">{{ article.getType().getNom() }} </span></a>  <a title="{{ article.getCategorie().getNom() }}" href="{{ path('androiddev_'~article.getType().getNom()|lower ~'Cat', {'slug': article.getCategorie().getSlug() }) }}"><span class="cat-slider "> {{ article.getCategorie().getNom() }}</span></a>
            <br />{% for motCle in article.getMotCles() %}
            <a title="{{ motCle.getNom() }}" href="{{ path('androiddev_motCles', {'slug': motCle.getSlug()}) }}"><span class="mot-slider ">{{ motCle.getNom() }}</span></a>
                {% endfor %}
            </p>

            <div class="visible-xs visible-sm">
                <ul class="list-bottom-mobile">
                    {% if article is defined and article.getType().id == 3 %}
                        {% if article.getPrevArticle != null %}
                            <li class="prevStep"><i class="glyphicon glyphicon-backward"></i> &nbsp; <a title="{{ article.getPrevArticle().getTitre() }}" href="{{ path('androiddev_voir', {'slug': article.getPrevArticle().getSlug() }) }}"> {{ article.getPrevArticle().getProjet().getRang() }} - {{ article.getPrevArticle().getTitre() }}</a></li>
                        {% endif %}
                        {% if article.getNextArticle != null %}
                            <li class="nextStep"><i class="glyphicon glyphicon-forward"></i> &nbsp; <a title="{{ article.getNextArticle().getTitre() }}" href="{{ path('androiddev_voir', {'slug': article.getNextArticle().getSlug() }) }}">{{ article.getNextArticle().getProjet().getRang() }} - {{ article.getNextArticle().getTitre() }} <i class="icon-forward"></i></a></li>
                        {% endif %}
                            <li class="returnStep"><i class="glyphicon glyphicon-eject"></i> &nbsp; <a title="{{ article.getProjet().getProjet().getTitre() }}" href="{{ path('androiddev_projetVoir', {'slug': article.getProjet().getProjet().slug}) }}">Retour au projet</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <hr />
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_linkedin"></a>
            <a class="addthis_button_viadeo"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
        <!-- AddThis Button END -->
        <hr />
        <h4>Ceci pourrait vous intéresser</h4>
        <dl class="related">
            {% for article in links %}
                <dt><a title="{{ article.titre | raw }}" href="{{ path('androiddev_voir', {'slug': article.slug}) }}">{{ article.titre | raw }}</a></dt>
                <dd>{{ article.sousTitre | raw }}</dd>
            {% endfor %}
        </dl>

        <hr />
        <div data-src="http://www.android-dev.fr{{ path('androiddev_voir', {'slug': article.slug}) }}" class="OUTBRAIN" ></div>
        <script type="text/javascript">(function() {
                window.OB_platformType = 8;
                window.OB_langJS = "http://widgets.outbrain.com/lang_fr.js";
                window.OBITm = "1406747715108";
                window.OB_recMode = "brn_strip";
                var ob = document.createElement("script");
                ob.type = "text/javascript";
                ob.async = true;
                ob.src = "http" + ("https:" === document.location.protocol ? "s" : "") + "://widgets.outbrain.com/outbrainLT.js";
                var h = document.getElementsByTagName("script")[0];
                h.parentNode.insertBefore(ob, h);
            })();</script>
        <hr />
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'androiddev'; // required: replace example with your forum shortname
            var disqus_identifier = "{{ article.id }}";

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        {% endblock %}