{% extends "::layout2.html.twig" %}

{% block title %}Android-dev{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/demo_table.css') }}" type="text/css" />
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<a class="brand" href="#">{{ infosite['titre'] }}</a>
<div class="nav-collapse collapse">
    <ul class="nav" role="navigation">
        <li><a href="{{ path('androiddev_accueil') }}">Accueil</a></li>
        <li><a href="{{ path('admin_article') }}">Articles</a></li>
        <li><a href="{{ path('admin_infosite') }}">Info Site</a></li>
        <li><a href="{{ path('admin_type') }}">Type</a></li>
    </ul>
    <span class="pull-right infoConnect">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
            </span>

        </div><!--/.nav-collapse -->
{% endblock %}


{% block content %}

{% endblock %}


{% block footer %}
    {{ infosite['footer'] | raw  }}
{% endblock %}